---
import { Icons, iconSizes } from "@/components/ui/icon";

const socialLinks = [
  { href: "https://twitter.com/j138", Icon: Icons.twitter },
  { href: "https://www.facebook.com/nakazajun", Icon: Icons.facebook },
  { href: "https://github.com/jey3dayo", Icon: Icons.github },
  { href: "https://www.instagram.com/jey3dayo", Icon: Icons.instagram },
  { href: "https://medium.com/@J138", Icon: Icons.medium },
  { href: "http://b.hatena.ne.jp/J138", Icon: Icons.hatenaBookmark },
];
---

<div class="flex justify-between space-x-4">
  {
    socialLinks.map(({ href, Icon }) => (
      <a href={href} target="_blank">
        <Icon size={iconSizes.lg} />
      </a>
    ))
  }
</div>
